table caption{
	font-size: 25px;
	font-weight: bold;
	color: blue;
	line-height: 3;
}

table td.f_name,table td.f_input{
	line-height: 2;
	padding-top: 10px;
}
table td.f_name{
	width: 120px;
	text-align: left;
}

table td.tishi{
	font-size: 15px;
	color: red;
	text-align: center;
	padding-left: 20px;
}
 
table td.btn{
	padding-top: 30px;
	padding-left:100px;
	text-align: left;
}

input[type="submit"],
input[type="reset"]
{
	padding:8px 16px;
	border: 1px solid #eee;
	background-color: #ddd;
	color:#333;
	cursor: pointer;
	border-radius:4px;
    -moz-border-radius:4px;
}
input[type="submit"]:hover,
input[type="reset"]:HOVER{
	border: 1px solid #11406a;
	background-color: #1b63a5;
	color:#eee;
}
td.f_input input[type="text"],
td.f_input input[type="password"]{
	padding:8px;
	border: 1px solid #eee;
	color:#333
}